@import '../../sass/base';

.Sudoku {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  > .board {
    display: flex;
    flex-flow: wrap;
    margin: auto;

    > input {
      float: left;
      text-align: center;
      width: 3.125rem;
      height: 3.125rem;
      font-size: 1.875rem;
      border: 1px solid $black;
      box-sizing: border-box;
      color: var(--dark);

      &:hover {
        background-color: lighten($primary, 30%);
      }

      &:focus {
        background-color: lighten($warning, 30%);
        outline: none;
      }

      &.valid {
        color: $success !important;
        background-color: lighten($success, 55%) !important;
      }

      &.invalid {
        color: $danger !important;
        background-color: lighten($danger, 45%) !important;
      }
    }

    &.cf:before,
    &.cf:after {
      content: ' ';
      display: table;
    }

    &.cf:after {
      clear: both;
    }

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      /* display: none; <- Crashes Chrome on hover */
      -webkit-appearance: none;
      margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
    }

    &.x6 {
      width: 18.75rem;
      height: 18.75rem;

      /* Sodoku OK! */
      @for $i from 1 through 6 {
        > input[value='#{$i}'] {
          color: $green;
        }
      }

      /*Every third*/
      > input:nth-child(3n + 3) {
        border-right-width: 2px;
      }

      /*3x3 delimiter vertical*/
      > input:nth-child(3n + 4) {
        border-left-width: 2px;
      }

      /* Left most row*/
      > input:nth-child(6n + 1) {
        border-left-width: 4px;
      }

      /* Right most row*/
      > input:nth-child(6n) {
        border-right-width: 4px;
      }

      /* First horizontal delimiter*/
      > input:nth-child(n + 13):nth-child(-n + 18) {
        border-bottom-width: 2px;
      }
      > input:nth-child(n + 19):nth-child(-n + 24) {
        border-top-width: 2px;
      }

      /* Top border */
      > input:nth-child(-n + 6) {
        border-top-width: 4px;
      }

      /* Soduku rule first row*/
      @for $i from 1 through 6 {
        /* Vertical check*/
        > input:nth-child(-n + 6)[value='#{$i}'] ~ input:nth-child(-n + 6)[value='#{$i}'] {
          color: $red;
        }

        > input:nth-child(n + 31)[value='#{$i}'] ~ input:nth-child(n + 31)[value='#{$i}'] {
          color: $red;
        }

        /* Horizontal check*/
        @for $b from 1 through 6 {
          > input:nth-child(6n + #{$i})[value='#{$b}'] ~ input:nth-child(6n + #{$i})[value='#{$b}'] {
            color: $red;
          }
        }
      }
      /* 2 -> 8 row*/
      @for $i from 1 through 5 {
        $start: $i * 7 - ($i - 1);
        $end: $start + 8;
        @for $b from 1 through 6 {
          > input:nth-child(n + #{$start}):nth-child(-n + #{$end})[value='#{$b}']
            ~ input:nth-child(n + #{$start}):nth-child(-n + #{$end})[value='#{$b}'] {
            color: $red;
          }
        }
      }

      /* Quadrant check*/
      @for $i from 1 through 6 {
        /* Horizontal check*/
        @for $b from 1 through 6 {
          > input.q#{$i}[value='#{$b}'] ~ input.q#{$i}[value='#{$b}'] {
            color: $red;
          }
        }
      }

      > input:nth-child(n + 31) {
        border-bottom-width: 4px;
      }
    }

    &.x9 {
      width: 28.125rem;
      height: 28.125rem;

      /* Sodoku OK! */
      @for $i from 1 through 9 {
        > input[value='#{$i}'] {
          color: $green;
        }
      }

      /*Every third*/
      > input:nth-child(3n + 3) {
        border-right-width: 2px;
      }

      /*3x3 delimiter vertical*/
      > input:nth-child(3n + 4) {
        border-left-width: 2px;
      }

      /* Left most row*/
      > input:nth-child(9n + 1) {
        border-left-width: 4px;
      }

      /* Right most row*/
      > input:nth-child(9n) {
        border-right-width: 4px;
      }

      /* First horizontal delimiter*/
      > input:nth-child(n + 19):nth-child(-n + 27) {
        border-bottom-width: 2px;
      }
      > input:nth-child(n + 28):nth-child(-n + 36) {
        border-top-width: 2px;
      }

      /* Second horizontal delimiter*/
      > input:nth-child(n + 46):nth-child(-n + 54) {
        border-bottom-width: 2px;
      }
      > input:nth-child(n + 55):nth-child(-n + 63) {
        border-top-width: 2px;
      }

      /* Top border */
      > input:nth-child(-n + 9) {
        border-top-width: 4px;
      }

      /* Soduku rule first row*/
      @for $i from 1 through 9 {
        /* Vertical check*/
        > input:nth-child(-n + 9)[value='#{$i}'] ~ input:nth-child(-n + 9)[value='#{$i}'] {
          color: $red;
        }

        > input:nth-child(n + 73)[value='#{$i}'] ~ input:nth-child(n + 73)[value='#{$i}'] {
          color: $red;
        }

        /* Horizontal check*/
        @for $b from 1 through 9 {
          > input:nth-child(9n + #{$i})[value='#{$b}'] ~ input:nth-child(9n + #{$i})[value='#{$b}'] {
            color: $red;
          }
        }
      }
      /* 2 -> 8 row*/
      @for $i from 1 through 8 {
        $start: $i * 10 - ($i - 1);
        $end: $start + 8;
        @for $b from 1 through 9 {
          > input:nth-child(n + #{$start}):nth-child(-n + #{$end})[value='#{$b}']
            ~ input:nth-child(n + #{$start}):nth-child(-n + #{$end})[value='#{$b}'] {
            color: $red;
          }
        }
      }

      /* Quadrant check*/
      @for $i from 1 through 9 {
        /* Horizontal check*/
        @for $b from 1 through 9 {
          > input.q#{$i}[value='#{$b}'] ~ input.q#{$i}[value='#{$b}'] {
            color: $red;
          }
        }
      }

      > input:nth-child(n + 73) {
        border-bottom-width: 4px;
      }
    }
  }
}
